---
const our_promise = [
    "Significant Cost Saving",
    "Increased Efficiencies",
    "Inclusive Growth",
];
import { Picture } from "@astrojs/image/components";
import Heading from "./Heading.astro";
import promise from "../assets/images/handshake.jpg";
---

<section
    class="px-4 flex justify-center items-center min-h-screen bg-gradient-to-r from-purple-200 to-blue-200 py-10 text-gray-800"
>
    <div class="w-full flex flex-col items-center">
        <div class="w-full flex justify-center">
            <!-- <h2 class="text-center text-violet-900 text-3xl font-extrabold">
                Our Promise To You
            </h2> -->
            <!-- <svg id="anim-on-enter" class="hidden" viewBox="0 0 2000 300">
                <text
                    class="fill-violet-900"
                    x="50%"
                    y="50%"
                    dy=".35em"
                    text-anchor="middle"
                >
                    our promise to you
                </text>
            </svg> -->
            <Heading id="promisehead" title="Our Promise To You" />
        </div>

        <div class="flex w-full justify-around gap-4">
            <div
                id="out0"
                class="overflow-y-hidden flex items-end relative border-fuchsia-600 w-full border-2 h-96"
            >
                <div
                    class="absolute top-0 left-0 p-4 text-4xl italic font-semibold z-50"
                >
                    01
                </div>
                <div id="in0" class="p-4 w-full text-2xl font-semibold">
                    {our_promise[0]}
                </div>
                <div
                    id="pop0"
                    class="hidden p-4 bottom-0 absolute bg-gradient-to-t from-fuchsia-400 to-fuchsia-600 flex-col justify-end w-full text-2xl font-semibold"
                >
                    {our_promise[0]}
                    <p id="p0" class="text-xl pt-4 font-normal">
                        Through streamlined operations and improved
                        productivity. Increased efficiencies
                    </p>
                </div>
            </div>
            <div
                id="out1"
                class="overflow-y-hidden flex items-end relative border-fuchsia-600 w-full border-2 h-96"
            >
                <div
                    class="absolute top-0 left-0 p-4 text-4xl italic font-semibold z-50"
                >
                    02
                </div>
                <div id="in1" class="p-4 w-full text-2xl font-semibold">
                    {our_promise[1]}
                </div>
                <div
                    id="pop1"
                    class="hidden p-4 bottom-0 absolute bg-gradient-to-t from-fuchsia-400 to-fuchsia-600 flex-col justify-end w-full text-2xl font-semibold"
                >
                    {our_promise[1]}
                    <p id="p1" class="text-xl pt-4 font-normal">
                        Through faster, error free processes
                    </p>
                </div>
            </div>
            <div
                id="out2"
                class="overflow-y-hidden flex items-end relative border-fuchsia-600 w-full border-2 h-96"
            >
                <div
                    class="absolute top-0 left-0 p-4 text-4xl italic font-semibold z-50"
                >
                    03
                </div>
                <div id="in2" class="p-4 w-full text-2xl font-semibold">
                    {our_promise[2]}
                </div>
                <div
                    id="pop2"
                    class="hidden p-4 bottom-0 absolute bg-gradient-to-t from-fuchsia-400 to-fuchsia-600 flex-col justify-end w-full text-2xl font-semibold"
                >
                    {our_promise[2]}
                    <p id="p2" class="text-xl pt-4 font-normal">
                        who are analytically strong and strategically inclined
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    gsap.from("#promisehead", {
        opacity: 0,
        duration: 1,
        y: 50,
    });

    // remove class from pop2 when hovered
    const out2 = document.getElementById("out2");
    const pop2 = document.getElementById("pop2");
    const in2 = document.getElementById("in2");
    out2.addEventListener("mouseenter", () => {
        pop2.classList.remove("bg-transparent");
        in2.classList.add("hidden");
        pop2.classList.remove("hidden");
        pop2.classList.add("flex");
        // animate pop2 to take full height
        gsap.to("#pop2", {
            duration: 0.5,
            opacity: 1,
            height: "100%",
            ease: "power2.inOut",
        });
    });

    // revert back to transparent when mouse leaves
    out2.addEventListener("mouseleave", () => {
        in2.classList.remove("hidden");
        gsap.to(pop2, {
            height: "0%",
            opacity: 0,
            duration: 0.2,
            ease: "power4.out",
            onComplete: () => {
                pop2.classList.remove("flex");
                pop2.classList.add("hidden");
                pop2.classList.add("bg-transparent");
            },
        });
    });

    // repeat above for other two
    const out0 = document.getElementById("out0");
    const pop0 = document.getElementById("pop0");
    const in0 = document.getElementById("in0");
    out0.addEventListener("mouseenter", () => {
        pop0.classList.remove("bg-transparent");
        in0.classList.add("hidden");
        pop0.classList.remove("hidden");
        pop0.classList.add("flex");
        gsap.to("#pop0", {
            duration: 0.5,
            opacity: 1,
            height: "100%",
            ease: "power2.inOut",
        });
    });
    out0.addEventListener("mouseleave", () => {
        in0.classList.remove("hidden");
        gsap.to(pop0, {
            height: "0%",
            opacity: 0,
            duration: 0.2,
            ease: "power4.out",
            onComplete: () => {
                pop0.classList.remove("flex");
                pop0.classList.add("hidden");
                pop0.classList.add("bg-transparent");
            },
        });
    });

    const out1 = document.getElementById("out1");
    const pop1 = document.getElementById("pop1");
    const in1 = document.getElementById("in1");
    out1.addEventListener("mouseenter", () => {
        pop1.classList.remove("bg-transparent");
        in1.classList.add("hidden");
        pop1.classList.remove("hidden");
        pop1.classList.add("flex");
        gsap.to("#pop1", {
            duration: 0.5,
            opacity: 1,
            height: "100%",
            ease: "power2.inOut",
        });
    });
    out1.addEventListener("mouseleave", () => {
        in1.classList.remove("hidden");
        gsap.to(pop1, {
            height: "0%",
            opacity: 0,
            duration: 0.2,
            ease: "power4.out",
            onComplete: () => {
                pop1.classList.remove("flex");
                pop1.classList.add("hidden");
                pop1.classList.add("bg-transparent");
            },
        });
    });
</script>
